<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 该文件存放CRUD的sql语句 -->
<mapper namespace="com.ibm.mapper.UserMapper">

	<select id="findByName" parameterType="string"
		resultType="com.ibm.entity.User">
		select
		name,
		password,
		roleID
		from
		usertable where name = #{value}
	</select>
	<!-- <insert id="addUser" parameterType="com.ibm.entity.User" resultType="int">
	
	</insert> -->
</mapper>